html{
    font-size: 15px;
}
.tabs{
    overflow: hidden;
}
.tab-head{
    display: flex;
}
.tab-head_item{
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.tab-head_item:hover,
.tab-head_item.active{
    border-bottom: 1px solid black;
}
.tab-content{
    position: relative;
}
.tab-content_item{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    transform:translateX(100px);
    padding: 10px;
}
.tab-content_item.active{
    transition: all 250ms;
    opacity: 1;
    transform: translateX(0);
    position: static;
}